ion-content {
    --background: #ff0606;
}

.card-form {
    border-radius: 16px;
    box-shadow: 0 4px 14px rgba(255, 0, 0, 0.2);
    padding-bottom: 10px;
}

ion-item {
    --background: rgb(255, 3, 3);
    border-radius: 8px;
    margin-bottom: 10px;
}

.btn-registrar {
    margin-top: 20px;
    height: 45px;
    font-weight: bold;
    letter-spacing: 1px;
}